/**************************************************
 *    styles.css
 *
 *  Hoja de estilos principal.
 *
 *  Autores: Mateo Fdez de Gamboa Santiuste
 *           Pinar Sanz Sacristan
 *
 **************************************************/

 /****** COLORES ******
  * Header fondo: #444
  *        letra: #EEE
  * Footer fondo: #444
  *        letra: #EEE
  * Menu   fondo: #555
  *        letra:
  * Main   fondo: #EEE
  *        letra:
  * Links  letra: #999
  *        hover: #F39
  * ------------------
  * Border-radius: 5px;
  *********************/



/**************
 *  Etiquetas
 **************/
html { height: 100%; }

body {
  background-color: #EEE;
  position: relative;
  font-family: "Arial", Helvetica, sans-serif;
  /*font:80%/1 sans-serif;*/
}

header {
  width: 100%;
  height: 70px;
  top: 0;
  left: 0;
  position: fixed;
  padding: 10px 100px;
  background-color: #444;
  color: #EEE;
  z-index: 99;
}

footer {
  width: 100%;
  height: 35px;
  bottom: 0;
  left: 0;
  position: fixed;
  font-size: 12px;
  text-align: center;
  padding: 0 100px 15px 100px;
  background-color: #444;
  color: #EEE;
  z-index: 98;
}

input[type=text], textarea {
  border-radius: 5px;
  outline: none;
  padding: 3px 0 3px 3px;
  margin: 5px 1px 0 0;
  border: 1px solid #555;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 2px #F39;
  outline: none;
  padding: 3px 0 3px 3px;
  margin: 5px 1px 0 0;
  border: 1px solid #F39;
}

input[type=date], textarea {
  border-radius: 5px;
  outline: none;
  padding: 3px 0 3px 3px;
  margin: 5px 1px 0 0;
  border: 1px solid #555;
}

input[type=date]:focus, textarea:focus {
  box-shadow: 0 0 2px #F39;
  outline: none;
  padding: 3px 0 3px 3px;
  margin: 5px 1px 0 0;
  border: 1px solid #F39;
}

input[type=password], textarea {
  border-radius: 5px;
  outline: none;
  padding: 3px 0 3px 3px;
  margin: 5px 1px 0 0;
  border: 1px solid #555;
}

input[type=password]:focus, textarea:focus {
  box-shadow: 0 0 2px #F39;
  outline:  none;
  padding: 3px 0 3px 3px;
  margin: 5px 1px 0 0;
  border: 1px solid #F39;
}

input[type=search], textarea {
  border-radius: 5px;
  outline: none;
  padding: 3px 0 3px 3px;
  margin: 5px 1px 0 0;
  border: 1px solid #555;
}

input[type=search]:focus, textarea:focus {
  box-shadow: 0 0 2px #F39;
  outline:  none;
  padding: 3px 0 3px 3px;
  margin: 5px 1px 0 0;
  border: 1px solid #F39;
}

/*
  http://www.pixy.cz/blogg/clanky/css-fieldsetandlabels.html
  http://www.456bereastreet.com/lab/styling-form-controls-revisited/fieldset/
*/
fieldset {
  border-radius: 5px;
  margin: 10% 20%;
  padding: 20px;
  /*font:80%/1 sans-serif;*/
}

fieldset input[type=text] {
  margin: 2%;
}

fieldset input[type=text]:focus {
  margin: 2%;
}

fieldset input[type=date] {
  margin: 2%;
}

fieldset input[type=date]:focus {
  margin: 2%;
}

fieldset input[type=radio] {
  margin: 2%;
}

label {
  float: left;
  margin: 2%;
  padding-top: 2px;
  text-align: right;
}

table {
  border-spacing: 0;
  width: 100%;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

td, th {
  text-align: center;
  border-left: 1px solid #CCC;
  border-top: 1px solid #CCC;
  padding: 10px;
}

tr:nth-child(odd) {
    background-color: #EEE;
}
 
tr:nth-child(even) {
    background-color: #E5E5E5;
}

tr:hover {
  background-color: #D5D5D5;
}

thead tr:hover, tfoot tr:hover {
  background-color: transparent;
}

th {
  color: #F39;
  background-color: #444;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#666), to(#444));
  background-image: -webkit-linear-gradient(top, #666, #444);
  background-image: -moz-linear-gradient(top, #666, #444);
  background-image: -ms-linear-gradient(top, #666, #444);
  background-image: -o-linear-gradient(top, #666, #444);
  background-image: linear-gradient(to bottom, #666, #444);
}

select {
  padding: 5px;
  color: #EEE;
  border: none;
  border-radius: 10px;
  box-shadow: none;
  background-color: #444;
  -webkit-appearance: none;
  -moz-appearance: none;
}

caption {
  color: #F39;
  margin-top: 25px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 20px;
  caption-side: top;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

hr {
  margin: 0;
}



/********************
 *  Identificadores
 ********************/
 #betsy_title {
  color:#F39;
  font-size: 60px;
  font-weight: bold;
  margin: 5px;
}

#betsy_girl {
  height: 75%;
  float: left;
  margin-top: 10px;
}

#betsy_guy {
  height: 700px;
  position: absolute;
  float: right;
  right: 1%;
  z-index: -1;
}

#lateral_menu {
  width: 140px;
  height: 100%;
  float: left;
  left: 0;
  position: fixed;
  margin-top: 81px; /* Igual a header height */
  background: -webkit-linear-gradient(left, #555, #555, #444, #444, #555, #666);
  background: -o-linear-gradient(left, #555, #555, #444, #444, #555, #666);
  background: -moz-linear-gradient(left, #555, #555, #444, #444, #555, #666);
  background: linear-gradient(to right, #555, #555, #444, #444, #555, #666);
  color: #EEE;
  z-index: 1;
}

#lateral_menu div {
  padding: 6.5% 2%;
}

#lateral_menu div:hover {
  padding: 6.5% 2%;
  color: #000;
  background: #F39;
}

#main {
  width: 75%;
  min-width: 75%;
  height: 80%;
  max-height: 80%;
  float: left;
  margin-top: 80px; /* Igual a header height */
  margin-left: 150px; /* Igual a lateral menu width */
  padding-left: 3%;
  padding-top: 2%;
}

#footer2 {
  margin-top: 1%;
  text-align: center;
}

#login {
  right: 215px;
  top: 15px;
  position: absolute;
}

#login_button {
  right: 1%;
  position: absolute;
  margin-top: -4.5%;
}

#reminder_login {
  font-size: 12px;
}

#sign_up_button {
  margin-left: 50%;
  margin-top: 2%;
}

#logged_message {
  width: 300px;
  right: 240px;
  top: 5px;
  position: absolute;
  text-align: right;
}

#cart_buttons {
  margin-top: 20px;
  margin-right: 40px;
  text-align: right;
}

#history_buttons {
  margin-top: 20px;
  margin-right: 40px;
  text-align: right;
}

#bet_options {
  text-align: center;
  width: 100%
}

#searchbar_text {
  padding: 5px;
}

#footer_text {
  margin-left: -140px; /* Ancho del menu lateral */
}

#twitter {
  background:transparent url('img/twitter_icon.png') no-repeat;
  background-size: cover;
}

#twitter:hover {
  background:transparent url('img/twitter_icon_pink.png') no-repeat;
  background-size: cover;
}

#facebook {
  background:transparent url('img/facebook_icon.png') no-repeat;
  background-size: cover;
}

#facebook:hover {
  background:transparent url('img/facebook_icon_pink.png') no-repeat;
  background-size: cover;
}

#linkedin {
  background:transparent url('img/linkedin_icon.png') no-repeat;
  background-size: cover;
}

#linkedin:hover {
  background:transparent url('img/linkedin_icon_pink.png') no-repeat;
  background-size: cover;
}

#bet_title {
  text-align: center;
}

/*************
 *  Clases
 *************/
.white_button {
  font-size: 16px;
  color: #444;
  padding: 0.5% 1%;
  border-radius: 5px;
  border: none;
  background-color: #eee;
}

.black_button {
  font-size: 16px;
  color: #EEE;
  background: #444;
  padding: 0.5% 1.5%;
  border-radius: 5px;
  border: none;
}

.white_button:hover,  .black_button:hover{
  font-size: 16px;
  color: #000;
  background-color: #F39;/*FF47AA;*/
  border-color: #F39;
  cursor: pointer;
  /*font-size: 14px;
  font-weight: bold;*/
}

.icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin: 2px 10px;
}

.social_icon {
  width: 40px;
  height: 40px;
  margin: 1%;
  display: block;
  /*float: left;*/
}

.social_icon_block {
  margin-top: 4%;
  margin-left: 48%;
}

.link {
  color: #999;
}

.link2 {
  color: #555;
}

.link:hover, .link2:hover {
  color: #F39;/*#99004C*/
}

.select_style {
  margin: 50px 3%;
  border: 1px solid #ccc;
  width: 135px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #444;
  float:left;
}

.searchbar_style {
  margin-top: 46px;

/*  padding: 0;
  margin: 5%;
  border: 1px solid #ccc;
  width: 250px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #444;*/
}

.text_input  {
  width: 200px;
  color: #DDD;
  background-color: #444;
}

.bet_form {
  width: 235px;
  float: left;
}

.bet_label {
  width: 30%;
}

.width130 {
  width: 165px;
}

.tableline {
  margin-top: 70px;
  margin-bottom: 30px;
}

.margin_bottom {
  margin-bottom: 80px;
}

.forms_margin {
  margin-top: -5%;
}

.form_bg {
  background-color: rgba(238,238,238,0.65);
}

/*************
 *  Tablas
 *************/
.border_right {
  border-right: 1px solid #ccc;
}

.border_bottom {
  border-bottom: 1px solid #ccc;
}

.ul_corner {
  -moz-border-radius: 20px 0 0 0;
  -webkit-border-radius: 20px 0 0 0;
  border-radius: 20px 0 0 0;
}

.ur_corner {
  -moz-border-radius: 0 20px 0 0;
  -webkit-border-radius: 0 20px 0 0;
  border-radius: 0 20px 0 0;
}

.dl_corner {
  -moz-border-radius: 0 0 0 20px;
  -webkit-border-radius: 0 0 0 20px;
  border-radius: 0 0 0 20px;
}

.dr_corner {
  -moz-border-radius: 0 0 20px 0;
  -webkit-border-radius: 0 0 20px 0;
  border-radius: 0 0 20px 0;
}

